<div id="page-wrapper" {{bind-attr class="view.sidebarOpen:open"}}>

    {{partial "sidebar"}}

    <div id="content-wrapper">
      <div class="page-content">
        {{partial "headbar"}}

        {{outlet}}
      </div>
    </div>
  </div>