<div class="row">
    <div class="col-lg-12">
        <div class="widget">
            <div class="widget-header">
                <i class="fa fa-tasks"></i> Resources <span class="pull-right">Manage</span>
            </div>
            <div class="widget-body" class="medium no-padding">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            {{#each resource in resources}}
                                <tr>
                                    <td>{{resource.name}}</td>
                                    <td>{{resource.ip}}</td>
                                    <td>
                                        <span class="text-success"><i class="fa fa-check"></i></span>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>