<div class="row">
    <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="widget">
            <div class="widget-body">
                <div class="widget-content">
                    <div class="widget-icon red pull-left"> <i class="fa fa-cloud"></i>
                    </div>
                    <div class="title">{{resources.length}}</div>
                    <div class="comment">Resources</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="widget">
            <div class="widget-body">
                <div class="widget-content">
                    <div class="widget-icon orange pull-left"> <i class="fa fa-cloud"></i>
                    </div>
                    <div class="title">{{averageUtilization}}%</div>
                    <div class="comment">Average Utilization</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="widget">
            <div class="widget-body">
                <div class="widget-content">
                    <div class="widget-icon blue pull-left"> <i class="fa fa-cubes"></i>
                    </div>
                    <div class="title">{{groups.length}}</div>
                    <div class="comment">Resources</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="widget">
            <div class="widget-body">
                <div class="widget-content">
                    <div class="widget-icon green pull-left"> <i class="fa fa-users"></i>
                    </div>
                    <div class="title">80</div>
                    <div class="comment">Users</div>
                </div>
            </div>
        </div>
    </div>
</div>